{% extends 'base.html' %}
{% block content %}
<div id="left-container">
  <h1>Show Your Work</h1>
  <p>You didn't learn everything you know on the job, so why let your resume imply that? Use Resumoid to build a portfolio of your skills and abilities, and let your talents speak for you.</p>
  <h1>See What They Can Do</h1>
  <p>The best and the brightest don't spend their time practicing resume writing. They spend it honing what make them great. Find them on their merits. Let their work speak for itself.</p>
</div>
<div id="right-container">
  {# TODO image slider that explains how we can serve you. #}
</div>
{% endblock %}
